[submodule "src/folly"]
	path = src/folly
	url = https://github.com/facebook/folly
[submodule "src/wdt"]
	path = src/wdt
	url = https://github.com/facebook/wdt
[submodule "src/gflags"]
	path = src/gflags
	url = https://github.com/gflags/gflags
[submodule "src/double-conversion"]
	path = src/double-conversion
	url = https://github.com/google/double-conversion
[submodule "src/glog"]
	path = src/glog
	url = https://github.com/google/glog
[submodule "googletest"]
	path = src/googletest
	url = https://github.com/google/googletest
